<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  
  <!-- This key is for Application Insights resource 'TagStreamer' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>9441e2fc-e52f-40e4-bc6a-cb622fb1ab6d</InstrumentationKey>
</ApplicationInsights>